.calendar-toggle {
  margin-bottom: 2rem;
}

/* Styles for the calendar view */

.calendar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.calendar-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  background-color: #f0f0f0;
}

.calendar-day {
  background-color: #fff;
  border: 1px solid #ddd;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.calendar-day.empty {
  background-color: #f0f0f0;
  border: none;
}

.date {
  font-weight: bold;
  margin-bottom: 5px;
}

.calendar .fixture {
  background-color: #e0e0e0;
  padding: 2px;
  margin-bottom: 2px;
  border-radius: 3px;
  font-size: 0.9em;
}

/* Styles for the fixture list view */
.fixture-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.fixture-list-item {
  background-color: #fff;
  padding: 10px;
  display: flex; /* Use flexbox for alignment */
  justify-content: space-between; /* Space out the children */
  align-items: center; /* Align items vertically */
  border-bottom: 1px solid #ddd; /* Add a separator between items */
}

.fixture-list-item .date-time {
  flex: 1; /* Allow the date-time section to take up some space */
  text-align: left; /* Align text to the left */
  font-size: 0.9rem;
  color: #555;
}

.fixture-list-item .teams {
  flex: 2; /* Allow the teams section to take up more space */
  display: flex; /* Use flexbox for alignment */
  justify-content: center; /* Center the teams horizontally */
  align-items: center; /* Align items vertically */
  text-align: center;
  font-size: 1rem;
}

.fixture-list-item .fixture-actions {
  flex: 1; /* Allow the actions section to take up some space */
  display: flex; /* Use flexbox for alignment */
  justify-content: flex-end; /* Align actions to the far right */
  gap: 10px; /* Add spacing between buttons */
}

.teams span {
  margin: 0 5px;
}

.teams .score {
  font-weight: bold;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #333;
}

.fixture-list-item:hover {
  background-color: #f4f4f4;
}